# This is a Render blueprint file
# See https://render.com/docs/blueprint-spec for more details

services:
  - type: web
    name: 1111tn-api
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: MONGO_URI
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: MAIL_USERNAME
        sync: false
      - key: MAIL_PASSWORD
        sync: false
      - key: MAIL_FROM
        sync: false
      - key: MAIL_PORT
        value: "587"
      - key: MAIL_SERVER
        value: "smtp.gmail.com"
      - key: MAIL_FROM_NAME
        value: "1111.tn Support"
      - key: MAIL_STARTTLS
        value: "True"
      - key: MAIL_SSL_TLS
        value: "False"
      - key: USE_CREDENTIALS
        value: "True"
      - key: VALIDATE_CERTS
        value: "True"
      - key: AUTH_DB_NAME
        value: "Users"
    healthCheckPath: /api/v1/health
